@media (max-width: 1200px) {
    .fudziamaimg {
        width: 1000px;
      }
    
      .grandimg{
        width: 1000px; 
      }
    
      .hesusimg{
        width: 1000px; 
      }
    
      .lofotimg{
        width: 1000px; 
      }








      .japanflagimg {
        width: 1000px;
      }

      
      .fudzigoraimg {
        width: 1000px;
      }

      .youtube__player-size {
            width: 1000px;
            height: 565px;
      }







      .americaflagimg {
        width: 1000px;
      }

      
      .americawellimg {
        width: 1000px;
      }

      .youtube__player-size {
            width: 1000px;
            height: 565px;
      }






      .brazillflagimg {
        width: 1000px;
      }

      
      .jesuslohimg {
        width: 1000px;
      }

      .youtube__player-size {
            width: 1000px;
            height: 565px;
      }





      .americaflagimg {
        width: 1000px;
      }

      
      .americawellimg {
        width: 1000px;
      }

      .youtube__player-size {
            width: 1000px;
            height: 565px;
      }






      .norwayflagimg {
        width: 1000px;
      }

      
      .norwaylofostimg {
        width: 1000px;
      }

      .youtube__player-size {
            width: 1000px;
            height: 565px;
      }
}