@media (max-width: 600px) {
    .fudziamaimg {
        width: 500px;
      }
    
      .grandimg{
        width: 500px; 
      }
    
      .hesusimg{
        width: 500px; 
      }
    
      .lofotimg{
        width: 500px; 
      }
    
      .box__fudzi-text {
        width: 500px;
      }
      
      .box__fudzi {
         height: 450px;
      }
      
      .box__grand-text {
        width: 500px;
      }
      
      .box__grand {
        height: 450px;
      }
      
      .box__hesus-text {
        width: 500px;
      }

      .box__hesus {
        height: 450px;
      }
      
      .box__lofot-text {
        width: 500px;
      }
      
      .box__lofot {
        height: 450px;
      }
     


      





      .japanflagimg {
        width: 480px;
      }
    
      
      .fudzigoraimg {
        width: 480px;
      }
    
      .youtube__player-size {
          width: 480px;
          height: 275px;
      }
    
      .middle__text-country {
        font-size: 75px;
        margin: 50px auto;
      }
    
      .japan__text-country p{
        font-size: 35px;
      }
    
      .middle__text-video {
        font-size: 70px;
        padding-top: 50px;
      }
    
      .middle__text-place {
        font-size: 50px;
        padding-right: 0;
        margin-top: 30px;
      }
    
      .youtube__player {
        margin-top: 50px;
      }









      .americaflagimg {
        width: 480px;
      }
    
      
      .americawellimg {
        width: 480px;
      }
    
      .youtube__player-size {
          width: 480px;
          height: 275px;
      }
    
      .middle__text-country {
        font-size: 75px;
        margin: 50px auto;
      }
    
      .japan__text-country p{
        font-size: 35px;
      }
    
      .middle__text-video {
        font-size: 70px;
        padding-top: 50px;
      }
    
      .middle__text-place {
        font-size: 50px;
        padding-right: 0;
        margin-top: 30px;
      }
    
      .youtube__player {
        margin-top: 50px;
      }









      .brazillflagimg {
        width: 480px;
      }
    
      
      .jesuslohimg {
        width: 480px;
      }
    
      .youtube__player-size {
          width: 480px;
          height: 275px;
      }
    
      .middle__text-country {
        font-size: 75px;
        margin: 50px auto;
      }
    
      .japan__text-country p{
        font-size: 35px;
      }
    
      .middle__text-video {
        font-size: 70px;
        padding-top: 50px;
      }
    
      .middle__text-place {
        font-size: 50px;
        padding-right: 0;
        margin-top: 30px;
      }
    
      .youtube__player {
        margin-top: 50px;
      }






      .norwayflagimg {
        width: 480px;
      }
    
      
      .norwaylofostimg {
        width: 480px;
      }
    
      .youtube__player-size {
          width: 480px;
          height: 275px;
      }
    
      .middle__text-country {
        font-size: 75px;
        margin: 50px auto;
      }
    
      .japan__text-country {
        font-size: 35px;
      }
    
      .middle__text-video {
        font-size: 70px;
        padding-top: 50px;
      }
    
      .middle__text-place {
        font-size: 50px;
        padding-right: 0;
        margin-top: 30px;
      }
    
      .youtube__player {
        margin-top: 50px;
      }
}